.btn {
  padding: .6rem .8rem;
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
  border-radius: .6rem;
  transition: .5s;
  font-size: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;

  &:hover {
    opacity: .7;
  }

  &:disabled {
    opacity: .7;
    cursor: not-allowed;
  }
}

.btn .spinner {
  animation: spinner-rotation 1.25s linear infinite;
}

@keyframes spinner-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}