.content {
  width: 100%;
  height: 100%;
  background-color: #00000078;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content .modal {
  width: 56%;
  max-width: 850px;
  height: auto;
  min-height: 480px;
  background-color: var(--black-3);
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;

  position: relative;
  animation: open 0.7s ease forwards;
}

.content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  margin-bottom: 0.75rem;
}

.content .header button {
  background-color: transparent;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    opacity: 0.5;
  }
}

@keyframes open {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
