.content {
  height: 100%;
  position: relative;
}

.btnBack {
  padding: .5rem;
  border-radius: .6rem;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}