.content {
  display: flex;
  gap: .5rem;  
  justify-content: center;
  align-items: center;
}

.content span {
  font-size: 1rem;
}

.content .spinner {
  animation: spinner-rotation 1.25s linear infinite;
}

@keyframes spinner-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
