@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --yellow: #e69626;
  --orange: #c4740c;
  --black: #151b2f;
  --gray: #555f7e;
  --purple: #b35ff7;
  --pink: #FF919D;
  --white: #efefef;
  --white-2: #c8c8c8;
  --green: #1fa85ad0;
  --green-2: #1d8f54;
  --blue: #125e94;
  --blue-2: #178bc0;
  --red: #d31919;
  --red-2: #c74444;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  font-family: 'Inter', sans-serif;
  color: var(--white);
}

body {
  background: var(--black)
}

h1 {
  font-size: 1.7rem;
  color: var(--white);
}

.header-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.double-input {
  display: flex;
  gap: 2rem;
}

/* width */
::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: .5rem;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray); 
  border-radius: .5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--white-2); 
}
